* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 120%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

.heading-primary {
    text-align: center;
    color: $color-primary;
    font-size: 4.5rem;
}

.heading-secondary {
    text-transform: uppercase;
}

input:not([type=submit]), select {
    border: none;
    padding: 1rem;
    background: transparent;
    color: $color-text-dark;
    font-size: 1.8rem;
    border-bottom: 1px solid $color-text-dark;

    &::placeholder {
        text-transform: uppercase;
    }
}