$color-light: #fff;
$color-dark: #000;

$color-text-light: #ecf0f1;
$color-text-dark: #7f8c8d;

$color-primary: #27AE60;
$color-primary-light: #6FCF97;
$color-primary-dark: #219653;
$color-primary-text: $color-text-light;

$color-secondary: #F2994A;
$color-secondary-light: lighten($color-secondary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-secondary-text: $color-text-light;

$color-danger: #EB5757;
$color-warning: #F2C94C;
$color-info: #2D9CDB;
