.center-form {
    position: relative;
    width: 100vw;
    height: 100vh;

    &__inner {
        @include abs-center;
        background-color: rgba($color-light, .8);
        padding: 5rem;
        border-radius: 2px;
        box-shadow: 0 1.5rem 2.5rem rgba($color-dark, .3);
        min-width: 30%;
    }

    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__group input {
        width: 100%;
    }

    input[type=submit] {
        display: block;
        width: 35%;
        margin: 0 auto;
    }
}