.garden {
    display: flex;
    flex-direction: row;

    .settings {
        flex-basis: 20%;
        height: 94.8vh;
    }

    .garden-grid {
        flex-grow: 1;
        max-width: 80%;
        max-height: 94.8vh;
    }
}

.garden-grid {
    overflow: auto;

    &__inner {
        padding: 2.5rem;
        width: max-content;
    }

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__cell {
        border: 1px solid $color-dark;
        width: 5rem;
        height: 5rem;
    }
}