.garden {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;

    .garden-grid {
        flex-grow: 1;
        max-height: 85.6vh;
    }
}

.garden-grid {
    overflow: auto;

    &__inner {
        padding: 2.5rem;
        width: max-content;
    }

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__cell {
        border: 1px solid $color-dark;
        width: 5rem;
        height: 5rem;
    }
}