.page {
    @include clearfix;

    &__content {
        float: left;
        height: 100%;
    }

    &--not-logged-in {
        background-image: linear-gradient(to bottom right, rgba($color-primary-light, .7), rgba($color-primary-dark, .7)),
        url('./images/login.jpg');
    background-position: center;
    }
}
